# System
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.nova
.zed

# Node
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel
/vendor
/.env
/.env.backup
/.env.production
.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/public/hot
/public/storage
/storage/*.key
/storage/oauth-*.key
/storage/pail
/bootstrap/ssr
/public/build
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

# PHPUnit
/.phpunit.cache
